:root {
  --main: #557a95;
  --main-bg: #7395ae;
  --secondary: aliceblue;
  --header-height: 4rem;
  --gray: #a5a7a9;
  --gray-dark: #666666;
  --error: #ff7373;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: var(--main-bg);
  margin: 0;
  color: var(--main);
  padding: var(--header-height) 10px;
}

input,
textarea {
  border: 0;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 1rem;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  background-color: var(--secondary);
  border: 0;
  margin: 1rem 0;
  color: var(--main);
  font-weight: bold;
  padding: 0.4rem 1rem;
  cursor: pointer;
  border-radius: 10px;
}

button.button--secondary {
  background-color: var(--main);
  color: var(--secondary);
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button[disabled] {
  background-color: var(--gray);
  color: var(--gray-dark);
  cursor: not-allowed;
}

header {
  background-color: var(--secondary);
  width: 100vw;
  max-width: 100%;
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: 2px -4px 9px var(--gray-dark);
  position: fixed;
  top: 0;
  left: 0;
  user-select: none;
}

header .logo {
  width: 2.4rem;
  cursor: pointer;
}

.heading {
  text-align: center;
  font-size: 1.4rem;
  color: var(--secondary);
  margin: 1.5rem 0 0.5rem;
}

.post-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0 0;
}

.post-input {
  width: 100%;
  width: 80%;
  max-width: 40rem;
}

.posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  border: 0.5rem solid var(--secondary); /* Light grey */
  border-top: 0.5rem solid var(--main); /* Blue */
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 1s linear infinite;
  margin: 1rem 0 0;
}

.feedback {
  background-color: var(--main);
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--secondary);
  border-radius: 10px;
  box-shadow: 1px 1px 8px var(--gray-dark);
}

.feedback * {
  margin: 0;
  padding: 0.5rem;
}

.error {
  color: var(--error);
}

.post {
  background-color: var(--secondary);
  padding: 1rem;
  width: 80%;
  max-width: 50rem;
  border-radius: 10px;
  margin: 1rem;
  transition: all 0.2s;
  box-shadow: inset -3px -8px 40px var(--gray);
}

.post .content {
  margin: 1rem 0 1.5rem;
  white-space: pre-line;
}

.post .date {
  font-size: 0.8rem;
  color: var(--gray-dark);
}

.comment-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5rem 0 0;
}

.comment-input {
  width: 100%;
}

.post .comment {
  background-color: var(--main-bg);
  margin: 1rem 1rem 0;
  padding: 1rem;
  border-radius: 10px;
  color: var(--secondary);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
